<!-- Sortierbare Playlist -->
<div [sortablejs]="files"
     (update)=sortDone($event)>

    <!-- Ueber Files gehen und Ausschnitt der Liste anzeigen, nur Titel im oberen Bereich sind sortierbar-->
    <div *ngFor="let file of files | slice:0:20; index as index, last as last, first as first"
         class="bg-white"
         [ngClass]="{
                 'playing-line': index === 0,
                 'drag': draggable(index),
                 'pt-0': first,
                 'pt-2': !first && index !== insertIndex,
                 'pb-2 border-radius-bottom': last
                }">

        <!-- Einfuegemarke, wo der naechste neue Titel eingefuegt wird -->
        <div class="ml-3 pl-2 d-flex insertIndex align-items-center"
             *ngIf="index === insertIndex">
            <i class="fa fa-arrow-right"></i>

            <!-- Info welcher Titel hier eingefuegt wird -->
            <div class="ml-3 hoverTitle">{{hoverTitle | fileName}}</div>
        </div>

        <!-- Einfuegemarke und Songtitel -->
        <div class="ml-3 mr-3 d-flex no-gutters align-items-baseline">

            <!-- Song abspielen Button, aber nicht wenn Titel gearde geladen wird -->
            <button *ngIf="index !== jumpPosition"
                    class="btn btn-sm order-1"
                    (click)="jumpTo(index)">
                <i class="fa fa-play"
                   [ngClass]="{
                       'opacity-50': index !== 0,
                       'active-track': index === 0}"></i>
            </button>

            <!-- Spinner anzeigen, wenn zu diesem Titel gesprungen werden soll -->
            <div *ngIf="index === jumpPosition"
                 class="spinner-block">
                <i class="fa fa-spinner fa-spin"></i>
            </div>

            <!-- Titel ignroerien (=nach ganz hinten schieben), aber nicht bei Index 0 -->
            <!-- CSS Trick mit flex-order, damit durchstreichen per CSS funktioniert und Button trotzdem hinten steht -->
            <button *ngIf="index !== 0"
                    class="btn btn-sm ignore opacity-50 order-3"
                    (click)="moveTitleToEnd(index)">
                <i class="fa fa-minus"></i>
            </button>

            <!-- Titelinfo, aktuellen Song fett darstellen, im oberen Bereich ist Liste sortierbar -->
            <div class="ml-2 order-2 col"
                 [ngClass]="{
                        'font-weight-bold': index === 0,
                        'sort-handle': draggable(index),
                        'cursor-pointer': index >= insertIndex}"
                 (mouseenter)="setHoverTitle(index)"
                 (mouseleave)="resetHoverTitle()"
                 (click)="enqueueSong(index)">

                <!-- Titelname -->
                <span>{{file | fileName}}</span>
            </div>
        </div>
    </div>
</div>