<!-- Ab. 2 Titel sortierbare Playlist -->
<div cdkDropList
     class="sort-list"
     (cdkDropListDropped)="drop($event)">

    <!-- 1. Titel (nicht sortierbar) -->
    <div class="h5 mx-3 mb-3 pb-3 border-bottom d-flex g-0 align-items-center">

        <!-- Song abspielen Button -->
        <button class="mb-0 px-1"
                (click)="jumpTo(0)">
            <fa-icon icon="play"
                     fixedWidth="true"
                     class="color-controls"></fa-icon>
        </button>

        <!-- Titelinfo fett -->
        <div class="ms-2 fw-bold">
            <span>{{files[0] | fileName}}</span>
        </div>
    </div>

    <!-- Ueber Files gehen (ab. 2 Titel) und Ausschnitt der Liste anzeigen, Titel sind sortierbar -->
    <div *ngFor="let file of files | slice:1:20 ; index as index, last as last, first as first"
         class="sort-box bg-white"
         [ngClass]="{
                 'pt-2': !first && (index + 1) !== insertIndex,
                 'pb-2': last
                }">

        <!-- Einfuegemarke, wo der naechste neue Titel eingefuegt wird -->
        <div class="ms-3 d-flex align-items-center color-controls insertIndex"
             *ngIf="index + 1 === insertIndex">
            <fa-icon icon="arrow-right"
                     fixedWidth="true"
                     class="px-1 color-controls"></fa-icon>

            <!-- Vorschau, welcher Titel hier eingefuegt wird -->
            <div class="ms-2 opacity-80">{{hoverTitle | fileName}}</div>
        </div>

        <!-- sortierbarer Songtitel -->
        <div class="ms-3 me-3 d-flex g-0 align-items-center"
             cdkDrag>

            <!-- Song abspielen Button, aber nicht wenn Titel gearde geladen wird -->
            <button *ngIf="(index + 1) !== jumpPosition"
                    class="me-1 btn btn-sm order-1 px-1"
                    (click)="jumpTo(index + 1)">
                <fa-icon icon="play"
                         fixedWidth="true"
                         [hover-class]="'opacity-100'"
                         class="opacity-50"></fa-icon>
            </button>

            <!-- Spinner anzeigen, wenn zu diesem Titel gesprungen werden soll -->
            <div *ngIf="(index + 1) === jumpPosition"
                 class="spinner-block">
                <fa-icon icon="spinner"
                         spin="true"
                         fixedWidth="true"
                         class="color-controls"></fa-icon>
            </div>

            <!-- Titel ignroerien (=nach ganz hinten schieben) -->
            <!-- CSS Trick mit flex-order, damit durchstreichen per CSS funktioniert und Button trotzdem hinten steht -->
            <button class="btn btn-sm opacity-50 order-3 ignore"
                    [hover-class]="'opacity-100'"
                    (click)="moveTitleToEnd(index + 1)">
                <fa-icon icon="trash"
                         fixedWidth="true"></fa-icon>
            </button>

            <!-- Titelinfo -->
            <div class="order-2 col"
                 [ngClass]="{
                     'cursor-pointer': index + 1 >= insertIndex
                    }"
                 (mouseenter)="setHoverTitle(index + 1)"
                 (mouseleave)="resetHoverTitle()"
                 (click)="enqueueSong(index + 1)">

                <!-- Titelname -->
                <span>{{file | fileName}}</span>
            </div>

            <!-- Sortier-Handle -->
            <fa-icon class="cursor-move px-1 order-4 opacity-50"
                     icon="bars"
                     fixedWidth="true"
                     cdkDragHandle></fa-icon>
        </div>
    </div>
</div>