@import "~src/scss/variables.scss";

.active-track {
    color: $color-controls;
}

.fa-spinner {
    color: $color-controls;
}

.insertIndex {
    height: 31px;
    color: $color-controls;
}

.hoverTitle {
    opacity: .6;
}

.playing-line {
    height: 31px;
    display: flex;
    align-items: center;
}

.sort-handle {
    cursor: move;
}

.spinner-block {
    width: 29px;
    text-align: center;
}

.ignore {
    color: $color-grey !important;

    &:hover+div {
        opacity: .4;
        text-decoration: line-through;
    }

    //disable effect hover on mobile devices
    @media (hover: none) {

        &:hover+div {
            opacity: 1;
            text-decoration: none;
        }
    }
}