@import "~src/scss/variables.scss";

:host {
    display: block;
}

.sort-handle {
    cursor: move;
}

fa-icon {
    color: rgba($color-grey, .7);
}

.insertIndex {
    height: 31px;
}

.spinner-block {
    width: 27.5px;
    text-align: center;
}

.ignore {
    &:hover+div {
        opacity: .4;
        text-decoration: line-through;
    }

    //disable effect hover on mobile devices
    @media (hover: none) {

        &:hover+div {
            opacity: 1;
            text-decoration: none;
        }
    }
}