<!-- Suchfeld und Trefferliste -->
<!-- Suchfeld: Label besteht aus Icon und Suchfeld -->
<label class="form-control d-flex no-gutters align-items-center p-1 m-0"
       for="searchField">

    <!-- Such-Symbol -->
    <fa-icon icon="search"
             class="ms-2 opacity-70"></fa-icon>

    <!-- Suchefeld -->
    <input placeholder="Lied suchen"
           [formControl]="titleSearch"
           class="col ms-2"
           type="search">
</label>

<!-- Trefferliste der Suchanfrage -->
<div *ngIf="filteredFiles.length"
     class="mt-2">

    <!-- Dateien ausgeben, die dem Filterkriterium entsprechen -->
    <ng-container *ngFor="let file of filteredFiles | orderBy | slice:0:20; last as last">

        <!-- Song abspielen Button und Songtitel formattiert -->
        <div class="d-flex align-items-baseline pb-2">

            <!-- Song abspielen -->
            <button class="btn btn-sm opacity-50 px-1"
                    [hover-class]="'opacity-100'"
                    (click)="jumpToFromSearch(file.index)">
                <fa-icon icon="play"
                         fixedWidth="true"></fa-icon>
            </button>

            <!-- Suchbegriff wird optisch hinterlegt, bei Click Song abspielen -->
            <div class="ms-2 cursor-pointer flex-grow-1"
                 (mouseenter)="setHoverTitle(file.index)"
                 (mouseleave)="resetHoverTitle()"
                 (click)="enqueueSongFromSearch(file.index)"
                 [highlight]="titleSearch.value">{{file.fileName}}</div>
        </div>

        <!-- Trennlinie nach letztem Eintrag -->
        <hr *ngIf="last"
            class="my-0 opacity-30">
    </ng-container>
</div>