<!-- Player Controls -->
<!-- previous title -->
<button class="ripple mr-2"
        (click)="changeItem(-1)">
    <fa-icon icon="fast-backward"
             fixedWidth="true"></fa-icon>
</button>

<!-- toggle pause -->
<button class="ripple mr-2"
        (click)="togglePaused()">
    <fa-icon [icon]="paused ? 'play' : 'pause'"
             fixedWidth="true"></fa-icon>
</button>

<!-- next title -->
<button class="ripple"
        (click)="changeItem(1)">
    <fa-icon icon="fast-forward"
             fixedWidth="true"></fa-icon>
</button>