<!-- Wrap fuer Elemente, waehrend App laueft (Main, Shutdown) -->
<div *ngIf="!shutdown">

    <!-- Button zum Pi herunterfahren -->
    <button (click)="shutdownPi()"
            [class.active]="clicks > 0"
            class="fa fa-power-off text-danger button-clean shutdown shadow">
    </button>

    <!-- App-Container -->
    <div class="row no-gutters header py-2 px-3 align-items-center">

        <!-- Ueberschrift -->
        <div class="col heading">SH Player 2019</div>

        <!-- Lautstaerke -->
        <div class="col row no-gutters justify-content-end">

            <!-- leiser -->
            <button class="fa fa-volume-down ripple"
                    (click)="changeVolume(false)"
                    [disabled]="volume === 0"></button>

            <!-- lauter -->
            <button class="fa fa-volume-up ripple"
                    [disabled]="volume === 100"
                    (click)="changeVolume(true)"></button>
        </div>
    </div>

    <!-- Aktuell laufender Titel -->
    <div class="currentSong px-3 py-2">{{getCurrentSong() | fileName}}</div>

    <!-- prev, pause, next -->
    <div class="row no-gutters mt-2 justify-content-center">

        <!-- Wrapper -->
        <div class="control-content row no-gutters justify-content-between">

            <!-- previous title -->
            <button class="fa fa-fast-backward ripple"
                    (click)="changeItem(false)"></button>

            <!-- toggle pause -->
            <button class="fa ripple"
                    [ngClass]='{
    "fa-pause": !paused,
    "fa-play": paused  }'
                    (click)="togglePaused()"></button>

            <!-- next title -->
            <button class="fa fa-fast-forward ripple"
                    (click)="changeItem(true)"></button>
        </div>
    </div>

    <!-- Suchfeld -->
    <div class="px-3 mb-3">

        <!-- Label besteht auch Icon und Suchfeld -->
        <label class="search-field form-control d-flex no-gutters align-items-center p-1"
               for="searchField">

            <!-- Such-Symbol -->
            <i class="fa fa-search ml-2"></i>

            <!-- Suchefeld -->
            <input autofocus
                   autocomplete="off"
                   id="searchField"
                   placeholder="Lied suchen"
                   class="col ml-2"
                   (keyup)="0"
                   #search
                   type="search">
        </label>
    </div>

    <!-- Trefferliste -->
    <div class="mb-3">

        <!-- Dateien ausgeben, die dem Filterkriterium entsprechen -->
        <div *ngFor="let file of files | filterList:search.value | orderBy"
             class="d-flex mx-3 align-items-center mb-2">

            <!-- Song einreihen -->
            <button [disabled]="file.index === position"
                    class="btn btn-sm btn-outline-success mr-2"
                    (click)="enqeueSong(file.index)"><i class="fa fa-plus"></i></button>

            <!-- Bei Text wird Suchbegriff fett hinterlegt, innerHTML, weil <b> Tags fuer fett gesetzt werden, bei Click Song abspielen -->
            <div [innerHTML]="file.fileName | fileName | highlightSearch:search.value"
                 class="cursor-pointer"
                 (click)="playSong(file.index)"></div>
        </div>
    </div>

    <!-- Playlist ausgeben, aktuellen Song fett darstellen -->
    <ng-container *ngFor="let file of files; index as index, last as last">

        <!-- Hier wird der neue Titel eingefuegt -->
        <div class="ml-3"
             *ngIf="index === (position + insertOffset + 1) % files.length">
            <i class="fa fa-arrow-right"></i>
        </div>

        <!-- Titelinfo -->
        <div [class.font-weight-bold]="index === position"
             [class.mb-2]="last"
             class="cursor-pointer px-3"
             (click)="jumpTo(index)">

            {{file | fileName}}

            <!-- Spinner anzeigen, wenn zu diesem Titel gesprungen werden soll -->
            <i class="fa fa-spinner fa-spin"
               *ngIf="index === jumpPosition"></i>
        </div>
    </ng-container>

    <!-- Anzeigen, wenn Pi heruntergefahren wurde -->
    <div *ngIf="shutdown"
         class="container mr-0 ml-0 no-gutters p-3">
        Die Anwendung wurde beendet.
    </div>

    <!-- Zustand ueber Verbindung zu WSS -->
    <div class="connection"
         (click)="activateApp()"><i class="fa fa-wifi"
           [ngClass]='{
  "text-danger": !connected,
  "text-success": connected
 }'></i></div>