.header {
    background: rgb(255, 146, 146);
    color: white;
}

.heading {
    font-weight: bold;
    font-size: 18px;
}

button:disabled {
    cursor: default;
    opacity: .3;
}

.fa-random {
    opacity: 0.2;
}

.fa-volume-up,
.fa-volume-down {
    font-size: 23px;
    color: #555;
}

.active {
    opacity: 1;
    background: #eee;
}

.currentSong {
    font-weight: bold;
    font-size: 16px;
    background: rgb(255, 231, 231);
}

.bg-rose {
    background: rgb(255, 231, 231);
}

.fa-fast-backward,
.fa-fast-forward,
.fa-play,
.fa-pause {
    color: rgb(255, 146, 146);
}

input {
    border: none;
    outline: none;
}

.fileName {
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.fileName:hover {
    background: rgb(255, 231, 231);
}

.align-items-baseline {
    align-items: baseline;
}

hr {
    border-top: 1px solid grey;
}

.btn:focus {
    box-shadow: none !important;
}

.insertIndex {
    height: 31px;
}

.hoverTitle {
    opacity: .6;
}

.ignore:hover+div {
    opacity: .4;
    text-decoration: line-through;
}