<!-- Wrap fuer Elemente, waehrend App laueft (Main, Shutdown) -->
<div *ngIf="!shutdown"
     class="col no-gutters p-0 d-flex app-container">

    <!-- App-Container -->
    <div class="app-content flex-grow-1 shadow">
        <div class="row no-gutters header py-1 px-3 align-items-center">

            <!-- Modusauswahl (sh, mh, kids) -->
            <div class="col heading">
                <button class="btn active-audio-mode"
                        [class.active-audio-mode]="audioMode === 'sh'"
                        (click)="setAudioMode('sh')"><span>SH</span></button>
                <button class="btn"
                        [class.active-audio-mode]="audioMode === 'mh'"
                        [disabled]="audioMode === 'mh'"><span>MH</span></button>
                <button class="btn"
                        [class.active-audio-mode]="audioMode === 'kids'"
                        (click)="setAudioMode('kids')"><span>Kids</span></button>
            </div>

            <!-- Zustand ueber Verbindung zu WSS -->
            <div class="connection ripple mr-2"
                 (click)="activateApp()"><i class="fa fa-wifi"
                   [ngClass]='{
                         "text-danger": !connected,
                         "text-success": connected
             }'></i></div>

            <!-- Button zum Pi herunterfahren, wrapper damit sich opacity von Button nicht auf den Schatten auswirkt -->
            <div class="d-flex shutdown-wrapper shadow">
                <button (click)="shutdownPi()"
                        [class.active]="clicks > 0"
                        class="fa fa-power-off text-danger button-clean shutdown">
                </button>
            </div>
        </div>

        <!-- prev, pause, next -->
        <div class="row no-gutters pt-1 pb-1 justify-content-center bg-rose px-3">

            <!-- Wrapper -->
            <div class="col-6 control-content row no-gutters justify-content-between">

                <!-- previous title -->
                <button class="fa fa-fast-backward ripple"
                        (click)="changeItem(-1)"></button>

                <!-- toggle pause -->
                <button class="fa ripple"
                        [ngClass]='{
                                "fa-pause": !paused,
                                    "fa-play": paused  }'
                        (click)="togglePaused()"></button>

                <!-- next title -->
                <button class="fa fa-fast-forward ripple"
                        (click)="changeItem(1)"></button>
            </div>

            <!-- Lautstaerke -->
            <div class="col row no-gutters justify-content-end">

                <!-- leiser -->
                <button class="fa fa-volume-down ripple"
                        (click)="changeVolume(false)"
                        [disabled]="volume === 0"></button>

                <!-- lauter -->
                <button class="fa fa-volume-up ripple"
                        [disabled]="volume === 100"
                        (click)="changeVolume(true)"></button>
            </div>
        </div>

        <!-- Suchfeld -->
        <div class="pt-3 px-3 pb-3 bg-white">

            <!-- Label besteht auch Icon und Suchfeld -->
            <label class="search-field form-control d-flex no-gutters align-items-center p-1 m-0"
                   for="searchField">

                <!-- Such-Symbol -->
                <i class="fa fa-search ml-2"></i>

                <!-- Suchefeld -->
                <input autofocus
                       id="searchField"
                       placeholder="Lied suchen (mind. 2 Buchstaben)"
                       [formControl]="titleSearch"
                       class="col ml-2"
                       type="search">
            </label>
        </div>

        <!-- Trefferliste der Suchanfrage -->
        <div *ngIf="filteredFiles.length"
             class="bg-white">

            <!-- Dateien ausgeben, die dem Filterkriterium entsprechen -->
            <ng-container *ngFor="let file of filteredFiles | orderBy; last as last">

                <!-- Song einreihen Button und Songtitel formattiert -->
                <div class="d-flex mx-3 pb-2 align-items-baseline bg-white"
                     [class.pb-3]="last">

                    <!-- Song einreihen -->
                    <button class="btn btn-sm mr-2"
                            (mouseenter)="setHoverTitle(file.index)"
                            (mouseleave)="resetHoverTitle()"
                            (click)="enqueueSongFromSearch(file.index)"><i class="fa fa-plus"></i></button>

                    <!-- Suchbegriff wird optisch hinterlegt, bei Click Song abspielen -->
                    <div class="title-to-highlight cursor-pointer flex-grow-1"
                         (click)="jumpToFromSearch(file.index)"
                         [highlight]="titleSearch.value">{{file.fileName}}</div>
                </div>

                <!-- Trennlinie nach letztem Eintrag -->
                <hr *ngIf="last"
                    class="mx-3 my-0">
            </ng-container>
        </div>

        <!-- Playlisttitel und Einfuegemarke ausgeben, dabei immer aktuellen Titel ganz oben anzeigen -->
        <div *ngFor="let file of files; index as index, last as last, first as first"
             class="bg-white"
             [ngClass]="{
                 'pt-0': first && !filteredFiles.length,
                 'pt-3': first && filteredFiles.length,
                 'pt-2': !first,
                 'pb-2 border-radius-bottom': last
                }">

            <!-- Einreihe-Symbol und Songtitel -->
            <div class="ml-3 mr-3 d-flex align-items-baseline">

                <!-- Play-Symbol bei 1. Titel -->
                <i *ngIf="index === 0"
                   class="pl-2 mr-3 fa fa-play text-success"></i>

                <!-- Song einreihen, aber nicht bei Index 0 -->
                <button *ngIf="index !== 0"
                        class="btn btn-sm mr-2"
                        (mouseenter)="setHoverTitle(index)"
                        (mouseleave)="resetHoverTitle()"
                        (click)="enqueueSong(index)"><i class="fa fa-plus"></i></button>

                <!-- Titelinfo, aktuellen Song fett darstellen -->
                <div [ngClass]="{'font-weight-bold': index === 0}"
                     class="cursor-pointer"
                     (click)="jumpTo(index)">
                    {{file | fileName}}

                    <!-- Spinner anzeigen, wenn zu diesem Titel gesprungen werden soll -->
                    <i class="fa fa-spinner fa-spin"
                       *ngIf="index === jumpPosition"></i>
                </div>

                <!-- Titel ignroerien (=nach ganz hinten schieben), aber nicht bei Index 0 -->
                <button *ngIf="index !== 0"
                        class="btn btn-sm ml-auto"
                        (click)="moveTitleToEnd(index)"><i class="text-danger fa fa-minus"></i></button>
            </div>

            <!-- Einfuegemarke, wo der naechste neue Titel eingefuegt wird -->
            <div class="ml-3 pt-2 pl-2 d-flex insertIndex align-items-center"
                 *ngIf="(index + 1) === insertIndex">
                <i class="fa fa-arrow-right text-warning"></i>

                <!-- Info welcher Titel hier eingefuegt wird -->
                <div class="ml-3 hoverTitle">{{hoverTitle | fileName}}</div>
            </div>
        </div>
    </div>
</div>

<!-- Anzeigen, wenn Pi heruntergefahren wurde -->
<div *ngIf="shutdown"
     class="container mr-0 ml-0 no-gutters p-3">
    Die Anwendung wurde beendet.
</div>