// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
//@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
//@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$NewWebsocketSHPlayer-primary: mat-palette($mat-indigo);
//$NewWebsocketSHPlayer-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
//$NewWebsocketSHPlayer-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
//$NewWebsocketSHPlayer-theme: mat-light-theme($NewWebsocketSHPlayer-primary, $NewWebsocketSHPlayer-accent, $NewWebsocketSHPlayer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
//@include angular-material-theme($NewWebsocketSHPlayer-theme);

@import '../node_modules/bootstrap/dist/css/bootstrap.css';

//eigene Variablen
@import "~src/scss/variables.scss";

body {
    background: $color-bg;
    color: $color-grey;
    overflow-y: scroll;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

button:disabled {
    cursor: default;
    opacity: .3;
}

.btn:focus {
    box-shadow: none !important;
}

input {
    border: none;
    outline: none;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

mark {
    padding: 0;
    background: $color-rose;
}

/* Ripple Button Effect fuer Touch */
button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ripple span {
    font-size: 90%;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .8s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
}

.hidden {
    display: none !important;
}

.color-controls {
    color: $color-controls !important;
}

.color-grey {
    color: $color-grey;
}

.bg-color {
    background: $color-bg;
}

.bg-rose {
    background: $color-rose;
}

.bg-color-controls {
    background: $color-controls;
}

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }