/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.css';

$color-grey: #212529;
$color-controls: #ff9292;

body {
    background: #eee;
    color: $color-grey;
    overflow-y: scroll;
}

.app-width {
    min-width: 300px;
    max-width: 600px;
}

.app-container {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.border-radius-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Ripple Button Effect fuer Touch */

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ripple span {
    font-size: 90%;
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity .8s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .2;
    transition: 0s;
}

.cursor-pointer {
    cursor: pointer;
}

.m_l_10 {
    margin-left: 10px;
}

.connection {
    color: $color-grey;
    width: 40px;
    height: 40px;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

.shutdown {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.unconnected {
    opacity: .3;
}

mark {
    padding: 0;
    background: #ffc107;
}

.active-audio-mode span {
    font-weight: bold;
    border-bottom: 2px solid $color-grey;
}

.header {
    background: rgb(255, 146, 146);
    color: white;
}

.heading {
    font-weight: bold;
    font-size: 18px;
}

button:disabled {
    cursor: default;
    opacity: .3;
}

.fa-random {
    opacity: 0.2;
}

.fa-volume-up,
.fa-volume-down {
    font-size: 23px !important;
    color: $color-controls;
}

.active {
    opacity: 1;
    background: #eee;
}

.currentSong {
    font-weight: bold;
    font-size: 16px;
    background: rgb(255, 231, 231);
}

.bg-rose {
    background: rgb(255, 231, 231);
}

.fa-fast-backward,
.fa-fast-forward,
.fa-play,
.fa-pause {
    color: $color-controls;
}

.play-button {
    color: $color-grey;
}

input {
    border: none;
    outline: none;
}

.fileName {
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-align: left;
}

.fileName:hover {
    background: rgb(255, 231, 231);
}

.align-items-baseline {
    align-items: baseline;
}

.btn:focus {
    box-shadow: none !important;
}

.insertIndex {
    height: 31px;
    color: $color-controls;
}

.hoverTitle {
    opacity: .6;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

.playing-line {
    height: 31px;
    display: flex;
    align-items: center;
}

.sort-handle {
    cursor: move;
}

.ignore {
    color: $color-grey !important;

    &:hover+div {
        opacity: .4;
        text-decoration: line-through;
    }

    //disable effect hover on mobile devices
    @media (hover: none) {

        &:hover+div {
            opacity: 1;
            text-decoration: none;
        }
    }
}

hr {
    border-top: 1px solid $color-grey;
}