module.exports = {
    mh: {
        host: '',
        user: 'root',
        password: ''
    },
    pw: {
        host: '',
        user: 'root',
        password: ''
    },
    sh: {
        host: '',
        user: 'root',
        password: ''
    },
    laila: {
        host: '',
        user: 'root',
        password: ''
    },
    luis: {
        host: '',
        user: 'root',
        password: ''
    }
};